In [1]:
import pandas as pd

In [13]:
corpora = [
    "dollar-tree",
    "lululemon",
    "ulta",
    "walgreens",
    "walmart"
]

df = pd.DataFrame()

for corpus in corpora:
    corpus_df = pd.read_csv(f"{corpus}.csv")
    df = pd.concat([df, corpus_df], ignore_index=True)

df = df[["goid", "date", "corpus", "text_sentiment"]]
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")
df = df.sort_values(["date"])
df.head()

            goid       date       corpus  text_sentiment
1624  2306779352 2019-01-01    walgreens        0.505486
1787  2162489813 2019-01-02    walgreens        0.000139
202   2164423373 2019-01-07  dollar-tree        0.569715
2275  2625365615 2019-01-11      walmart        0.108352
1691  2166912217 2019-01-14    walgreens        0.000010

In [15]:
df.groupby(["corpus"])["text_sentiment"].mean()

corpus
dollar-tree    0.158210
lululemon      0.210296
ulta           0.129233
walgreens      0.176185
walmart        0.203800
Name: text_sentiment, dtype: float64

In [16]:
merged_df = df.groupby(['corpus', 'date'], as_index=False)['text_sentiment'].mean()

In [17]:
merged_df

           corpus       date  text_sentiment
0     dollar-tree 2019-01-07        0.569715
1     dollar-tree 2019-02-01        0.494012
2     dollar-tree 2019-02-04        0.256253
3     dollar-tree 2019-02-07        0.005165
4     dollar-tree 2019-02-08        0.000071
...           ...        ...             ...
1750      walmart 2024-09-23        0.267857
1751      walmart 2024-10-02        0.030242
1752      walmart 2024-10-08        0.996736
1753      walmart 2024-10-09       -0.000018
1754      walmart 2024-10-15        0.120824

[1755 rows x 3 columns]

In [21]:
merged_df.to_csv("merged_sentiments.csv", index=False)